.bg
{
    height: 100%;
    background-image: linear-gradient(to bottom right, rgb(233, 91, 91), rgb(194, 194, 20));
    background-size: 100% 100%;
    border: 2px solid black;
    padding: 25px;
    text-align: center;
}
.text
{
    text-align: center;
    font-size: 20px;
}
button
{
    border-radius: 10px;
    font-size: larger;
    color: black;
    background-color: wheat;
    border-radius: none;
    transition-duration: 0.2s;
    cursor: pointer;
}
button:hover
{
    background-color: rgb(253, 201, 132);
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.header
{
    text-align: center;
    color: black;
    font-size: 30px;
}
.dropdown 
{
    display: inline-block;
    position: relative;
    border-width: 5px;
    border: #000000;
    align-self: center;
}
.dropdown-content 
{
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    background-color: antiquewhite;
    border: #000000;
    border-width: 10px;
}
.dropdown:hover .dropdown-content 
{
    display: block;
}
.dropdown-content a 
{
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}
.dropdown-content a:hover 
{
    color: #FFFFFF;
    background-color: #00A4BD;
}
.noi
{
    text-align: left;
    padding-top: 50px;
    font-size: 17px;
}
.noi .poza
{
    padding-top: 150px;
    width: 150px;
    background-image: url(poze/Screenshot\ 2023-11-17\ 180938.png);
    background-size: cover ;
    background-repeat: no-repeat;
    transition-duration: 1.2s;
}
.noi .poza:hover
{
    transform:rotate(360deg);

}